.dataStyle {
  padding: 30px 0;
  background: #ffffff;
  box-shadow: 3px 3px 10px #00000020;
  width: 100%;
  .MuiDataGrid-virtualScroller {
    background: linear-gradient(90deg,#ffffff 33%,transparent),
                linear-gradient(90deg,transparent,#ffffff 0 100%),
                linear-gradient(90deg,#3581e580 33%,transparent),
                linear-gradient(90deg,transparent,#3581e580 66%) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 100%,20px 100%,10px 100%,10px 100%;
    background-position: 0% 0,100%,0 0,100%;
    background-attachment: local,local,scroll,scroll;
  }
  
  @media (min-width: 1280px) {
    width: 1200px;
    padding: 30px;
    border-radius: 10px;
  }
}